<nav class="navbar navbar-default navbar-static-top navbar-inverse">
    <div class="container">
        <ul class="nav navbar-nav">
            <li class="active">
                <a href="/"><span class="glyphicon glyphicon-home"></span> Home</a>
            </li>
            <li>
                <a href="/search_examples"><span class="glyphicon glyphicon-search"></span> Search Examples</a>
            </li>
        </ul>
    </div>
</nav>