<!DOCTYPE html>
<html>

<head>
    <%- include ("../partials/header.ejs") %>
</head>

<body>

    <%- include ("../partials/nav.ejs") %>

        <div class="container">
            <h2>Search Tips</h2>

            <ul>
                <li>Hot pot at Las Vegas:</li>
                <ul>
                    <li>Latitude: 36.114647</li>
                    <li>Longitude: -115.172813</li>
                    <li>Query: hot pot</li>
                </ul>
                <li>Hot pot then Starbucks then buffet at Las Vegas</li>
                <ul>
                    <li>Latitude: 36.114647</li>
                    <li>Longitude: -115.172813</li>
                    <li>Query: Hot pot THEN starbuck THEN buffet</li>
                </ul>
            </ul>

        </div>

</body>

</html>